body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.taskCard:hover {
  cursor: grab;
}

.taskCard {
  margin: 5%;
  max-width: 90%;
}

.cardDeleteButton {
  float: right;
}

.past-due {
  background-color: lightcoral;
}

.due-soon {
  background-color: palegoldenrod;
}

.due-later {
  background-color: lightgreen;
}

.completed {
  background-color: aliceblue;
}

#todo-cards,
#in-progress-cards,
#done-cards {
  min-height: 100%;
  min-width: 100%;
}